* {
    margin: 0;
}

.navbar {
    background: red;
    display: flex;
    padding: 5px 5px 5px 5px;
}

.logo a{
    color: white;
    text-decoration: none;
}

.searchbox {
    background: white;
    width: 400px;
    border-radius: 15px;
    
}

.linkslist {
    display: inline-block;
}

.quicklinks {
    list-style-type: none;
}

.quicklinks a{
    color: white;
    text-decoration: none;
}